{% extends "::layout/layoutAdmin.html.twig" %}

{% block body %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset("global/css/bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{ asset("global/css/bootstrap-extend.min.css")}}">
    <link rel="stylesheet" href="{{ asset("assets/css/site.min.css")}}">

    <link rel="stylesheet" href="{{ asset("assets/examples/css/tables/basic.css")}}">
    <div class="panel">


        <div class="col-lg-6">
            <!-- Example Bordered Table -->
            <div class="example-wrap">


                <div class="example table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Idsp</th>
                            <th>Name</th>
                            <th>Datestart</th>
                            <th>Deadline</th>
                            <th>Number</th>
                            <th>Description</th>
                            <th>Actions</th>



                        </tr>
                        </thead>
                        <tbody>
                        {% for sprint in sprints %}
                            <tr style="width: 50%">
                                <td><a href="{{ path('adminSprints_show', { 'id': sprint.getIdSp() }) }}">{{ sprint.getIdSp() }}</a></td>
                                <td>{{ sprint.getName() }}</td>
                                <td>{% if sprint.getDatestart() %}{{ sprint.getDatestart()|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if sprint.getDeadline() %}{{ sprint.getDeadline()|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ sprint.getNumber() }}</td>
                                <td>{{ sprint.getDescription() }}</td>

                                <td class="text-nowrap">
                                    <button onclick="location.href='{{ path('adminSprints_show', { 'id': sprint.idSp }) }}' " type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip"
                                            data-original-title="Show">
                                        <i class="icon md-close" aria-hidden="true"></i>
                                    </button>

                                    <button onclick="location.href='{{ path('adminSprints_edit', { 'id': sprint.idSp }) }}' " type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip"
                                            data-original-title="Edit">
                                        <i class="icon md-wrench" aria-hidden="true"></i>
                                    </button>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class=" " >
                        {{ knp_pagination_render(sprints) }}
                    </div>

                    <button onclick="location.href='{{ path('adminSprints_new') }}' " type="submit" class="btn btn-primary" value="New">Create a new sprint</button>


                </div>
            </div>
            <!-- End Example Bordered Table -->
        </div>
    </div>


{% endblock %}